# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/katharinezenta/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [5]:
# Create a newsapi client
from newsapi import NewsApiClient
newsapi = NewsApiClient(api_key = api_key)

In [6]:
# Fetch the Bitcoin news articles
bitcoin_headlines = newsapi.get_everything( 
    q = "bitcoin", 
    language = "en",
    sort_by = "relevancy")

In [7]:
# Fetch the Ethereum news articles
ethereum_headlines = newsapi.get_everything( 
    q = "ethereum", 
    language = "en",
    sort_by = "relevancy")

In [12]:
# Create the Bitcoin sentiment scores DataFrame
sentiments = []

for articles in bitcoin_headlines["articles"]:
    try:
        text = articles["content"]
        results = analyzer.polarity_scores(text)
        compound = results["compound"]
        pos = results["pos"]
        neu = results["neu"]
        neg = results["neg"]

        sentiments.append({
            "text": text,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
        })
    except AttributeError:
        pass
    
btc  = pd.DataFrame(sentiments)
btc.head()

,text,Compound,Positive,Negative,Neutral
0,"Now, even though there are a number of women-f...",0.0772,0.036,0.000,0.964
1,A Bitcoin mining site powered by otherwise los...,-0.0516,0.056,0.061,0.882
2,Warren Buffett has always been a bitcoin skept...,-0.3269,0.085,0.143,0.772
3,"As a kid, I remember when my father tried to u...",0.3818,0.114,0.052,0.833
4,"Image source, Getty Images\r\nThe value of Bit...",0.3400,0.072,0.000,0.928

In [13]:
# Create the Ethereum sentiment scores DataFrame
sentiments = []

for articles in ethereum_headlines["articles"]:
    try:
        text = articles["content"]
        results = analyzer.polarity_scores(text)
        compound = results["compound"]
        pos = results["pos"]
        neu = results["neu"]
        neg = results["neg"]

        sentiments.append({
            "text": text,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
        })
    except AttributeError:
        pass
    
eth  = pd.DataFrame(sentiments)
eth.head()

,text,Compound,Positive,Negative,Neutral
0,Meta has revealed more of how NFTs will work o...,0.6486,0.135,0.000,0.865
1,A multi-billion dollar cryptocurrency company ...,-0.2263,0.046,0.075,0.879
2,When Bored Ape Yacht Club creators Yuga Labs a...,-0.2732,0.000,0.055,0.945
3,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.000,0.954
4,April 26 (Reuters) - Ether has promised to do ...,0.5346,0.142,0.000,0.858

In [14]:
# Describe the Bitcoin Sentiment
btc.describe()

        Compound   Positive  Negative    Neutral
count  20.000000  20.000000  20.00000  20.000000
mean   -0.093390   0.059450   0.08045   0.860050
std     0.389782   0.062439   0.07613   0.104336
min    -0.859300   0.000000   0.00000   0.557000
25%    -0.366350   0.000000   0.05350   0.827000
50%    -0.190100   0.048000   0.06300   0.888000
75%     0.152575   0.085000   0.08425   0.930250
max     0.750600   0.202000   0.30000   0.964000

In [15]:
# Describe the Ethereum Sentiment
eth.describe()

        Compound   Positive   Negative    Neutral
count  20.000000  20.000000  20.000000  20.000000
mean   -0.050650   0.041450   0.047500   0.911150
std     0.380318   0.056143   0.044936   0.050224
min    -0.690800   0.000000   0.000000   0.822000
25%    -0.284450   0.000000   0.000000   0.863500
50%    -0.189700   0.000000   0.059000   0.930500
75%     0.163900   0.069750   0.069000   0.939000
max     0.690800   0.178000   0.178000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [26]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [30]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = stopwords.words("english")

# Expand the default stopwords list if necessary

In [31]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', text)
    
    # Create a tokenized list of the words (#Sentence or word?)
    re_words = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    result = [lemmatizer.lemmatize(word) for word in re_words]
   
    # Convert the words to lowercase
    tokens= [word.lower() for word in re_words if word.lower() not in sw]
    
    # Remove the stop words
    # Performed above
    
    return tokens

In [34]:
# Create a new tokens column for Bitcoin
btc["tokens"] = btc.text.apply(tokenizer)
btc.head()

,text,Compound,Positive,Negative,Neutral,tokens
0,"Now, even though there are a number of women-f...",0.0772,0.036,0.000,0.964,"[even, though, number, womenfocused, crypto, s..."
1,A Bitcoin mining site powered by otherwise los...,-0.0516,0.056,0.061,0.882,"[bitcoin, mining, site, powered, otherwise, lo..."
2,Warren Buffett has always been a bitcoin skept...,-0.3269,0.085,0.143,0.772,"[warren, buffett, always, bitcoin, skeptic, bi..."
3,"As a kid, I remember when my father tried to u...",0.3818,0.114,0.052,0.833,"[kid, remember, father, tried, use, broom, han..."
4,"Image source, Getty Images\r\nThe value of Bit...",0.3400,0.072,0.000,0.928,"[image, source, getty, imagesthe, value, bitco..."

In [35]:
# Create a new tokens column for Ethereum
eth["tokens"] = eth.text.apply(tokenizer)
eth.head()

,text,Compound,Positive,Negative,Neutral,tokens
0,Meta has revealed more of how NFTs will work o...,0.6486,0.135,0.000,0.865,"[meta, revealed, nfts, work, instagram, usbase..."
1,A multi-billion dollar cryptocurrency company ...,-0.2263,0.046,0.075,0.879,"[multibillion, dollar, cryptocurrency, company..."
2,When Bored Ape Yacht Club creators Yuga Labs a...,-0.2732,0.000,0.055,0.945,"[bored, ape, yacht, club, creators, yuga, labs..."
3,GameStop is going all-in on crypto. The video ...,0.1280,0.046,0.000,0.954,"[gamestop, going, allin, crypto, video, game, ..."
4,April 26 (Reuters) - Ether has promised to do ...,0.5346,0.142,0.000,0.858,"[april, reuters, ether, promised, better, prom..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [36]:
from collections import Counter
from nltk import ngrams

In [37]:
# Generate the Bitcoin N-grams where N=2
N = 2 
grams = ngrams(tokenizer(btc.text.str.cat()), N)
Counter(grams).most_common(25)

[(('reuters', 'bitcoin'), 5),
 (('previous', 'closebitcoin'), 4),
 (('closebitcoin', 'worlds'), 4),
 (('worlds', 'biggest'), 4),
 (('biggest', 'bestknown'), 4),
 (('bestknown', 'cryptocurrency'), 4),
 (('charsmay', 'reuters'), 3),
 (('losing', 'previous'), 2),
 (('cryptocurrency', 'years'), 2),
 (('years', 'low'), 2),
 (('bitcoin', 'dropped'), 2),
 (('interest', 'rates'), 2),
 (('bitcoin', 'legal'), 2),
 (('legal', 'tender'), 2),
 (('even', 'though'), 1),
 (('though', 'number'), 1),
 (('number', 'womenfocused'), 1),
 (('womenfocused', 'crypto'), 1),
 (('crypto', 'spaces'), 1),
 (('spaces', 'odeniran'), 1),
 (('odeniran', 'says'), 1),
 (('says', 'women'), 1),
 (('women', 'still'), 1),
 (('still', 'underrepresented'), 1),
 (('underrepresented', 'ive'), 1)]

In [38]:
# Generate the Ethereum N-grams where N=2
N = 2 
grams = ngrams(tokenizer(eth.text.str.cat()), N)
Counter(grams).most_common(25)

[(('reuters', 'bitcoin'), 4),
 (('previous', 'closebitcoin'), 4),
 (('closebitcoin', 'worlds'), 4),
 (('worlds', 'biggest'), 4),
 (('biggest', 'bestknown'), 4),
 (('bestknown', 'cryptocurrency'), 4),
 (('charsmay', 'reuters'), 3),
 (('yacht', 'club'), 2),
 (('charsapril', 'reuters'), 2),
 (('lite', 'hash'), 2),
 (('hash', 'rate'), 2),
 (('cryptocurrency', 'years'), 2),
 (('years', 'low'), 2),
 (('bitcoin', 'dropped'), 2),
 (('losing', 'previous'), 2),
 (('last', 'week'), 2),
 (('meta', 'revealed'), 1),
 (('revealed', 'nfts'), 1),
 (('nfts', 'work'), 1),
 (('work', 'instagram'), 1),
 (('instagram', 'usbased'), 1),
 (('usbased', 'test'), 1),
 (('test', 'show'), 1),
 (('show', 'youve'), 1),
 (('youve', 'bought'), 1)]

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---